In [5]:
print("hello world")

hello world

In [6]:
import pandas as pd

In [7]:
df = pd.read_json('./patients_new/10000032.json')

In [8]:
df

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,hcpcsevents,labevents,microbiologyevents,pharmacy,poe,prescriptions,procedures_icd,services,transfers,icustays
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,[],"[{'labevent_id': 151, 'subject_id': 10000032, ...","[{'microevent_id': 15, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'poe_id': '10000032-52', 'poe_seq': 52, 'sub...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853....",[]
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,[],"[{'labevent_id': 332, 'subject_id': 10000032, ...","[{'microevent_id': 28, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'poe_id': '10000032-69', 'poe_seq': 69, 'sub...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357....",[]
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,[],"[{'labevent_id': 584, 'subject_id': 10000032, ...","[{'microevent_id': 36, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'poe_id': '10000032-217', 'poe_seq': 217, 's...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920....",[]
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,[],"[{'labevent_id': 407, 'subject_id': 10000032, ...","[{'microevent_id': 32, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 29079034,...","[{'poe_id': '10000032-125', 'poe_seq': 125, 's...","[{'subject_id': 10000032, 'hadm_id': 29079034,...",[],"[{'subject_id': 10000032, 'hadm_id': 29079034,...","[{'subject_id': 10000032, 'hadm_id': 29079034....","[{'subject_id': 10000032, 'hadm_id': 29079034,..."

In [14]:
omr = pd.DataFrame(df.loc[1, "omr"]).sort_values(by=["result_name", "chartdate"]).drop_duplicates(subset=['subject_id', 'chartdate', 'result_name', 'result_value'])
omr

    subject_id   chartdate  seq_num      result_name result_value
5     10000032  2180-05-07        1      BMI (kg/m2)         18.0
8     10000032  2180-05-25        1      BMI (kg/m2)         18.6
9     10000032  2180-06-01        1      BMI (kg/m2)         18.7
11    10000032  2180-06-22        1      BMI (kg/m2)         18.9
12    10000032  2180-06-27        1      BMI (kg/m2)         19.2
6     10000032  2180-06-30        1      BMI (kg/m2)         18.0
10    10000032  2180-07-09        1      BMI (kg/m2)         18.7
7     10000032  2180-08-06        1      BMI (kg/m2)         18.2
39    10000032  2180-04-27        1   Blood Pressure       110/65
38    10000032  2180-05-25        1   Blood Pressure       106/60
40    10000032  2180-06-01        1   Blood Pressure       121/77
36    10000032  2180-06-22        1   Blood Pressure       100/60
37    10000032  2180-06-30        1   Blood Pressure       102/60
35    10000032  2180-07-09        1   Blood Pressure        98/66
1     10000032  2180-05-07        1  Height (Inches)           60
0     10000032  2180-06-22        1  Height (Inches)           60
2     10000032  2180-04-27        1     Weight (Lbs)           94
16    10000032  2180-05-07       17     Weight (Lbs)        92.15
3     10000032  2180-05-25        1     Weight (Lbs)           95
14    10000032  2180-06-01        1     Weight (Lbs)         95.7
4     10000032  2180-06-22        1     Weight (Lbs)           97
34    10000032  2180-06-27        1     Weight (Lbs)        98.32
13    10000032  2180-06-30        1     Weight (Lbs)         92.2
15    10000032  2180-07-09        1     Weight (Lbs)         95.8
33    10000032  2180-08-06        1     Weight (Lbs)        93.03