In [29]:
import pandas as pd
import os

In [41]:
df = pd.DataFrame()
files = os.listdir("./patients_new")
for file in files:
    patient = pd.read_json(os.path.join("./patients_new/", file))
    df = pd.concat([df, patient], ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   subject_id            275 non-null    int64
 1   hadm_id               275 non-null    int64
 2   admittime             275 non-null    object
 3   dischtime             275 non-null    object
 4   deathtime             15 non-null     object
 5   admission_type        275 non-null    object
 6   admit_provider_id     275 non-null    object
 7   admission_location    275 non-null    object
 8   discharge_location    233 non-null    object
 9   insurance             275 non-null    object
 10  language              275 non-null    object
 11  marital_status        263 non-null    object
 12  race                  275 non-null    object
 13  edregtime             182 non-null    object
 14  edouttime             182 non-null    object
 15  hospital_expire_flag  275 non-null    int64
 16  patients              275 non-null    object
 17  omr                   275 non-null    object
 18  emar                  275 non-null    object
 19  diagnoses_icd         275 non-null    object
 20  drgcodes              275 non-null    object
 21  hcpcsevents           275 non-null    object
 22  labevents             275 non-null    object
 23  microbiologyevents    275 non-null    object
 24  pharmacy              275 non-null    object
 25  poe                   275 non-null    object
 26  prescriptions         275 non-null    object
 27  procedures_icd        275 non-null    object
 28  services              275 non-null    object
 29  transfers             275 non-null    object
 30  icustays              275 non-null    object
dtypes: int64(3), object(28)
memory usage: 66.7+ KB

In [ ]:
df.info()

In [42]:
df

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,hcpcsevents,labevents,microbiologyevents,pharmacy,poe,prescriptions,procedures_icd,services,transfers,icustays
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,[],"[{'labevent_id': 151, 'subject_id': 10000032, ...","[{'microevent_id': 15, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'poe_id': '10000032-52', 'poe_seq': 52, 'sub...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853....",[]
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,[],"[{'labevent_id': 332, 'subject_id': 10000032, ...","[{'microevent_id': 28, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'poe_id': '10000032-69', 'poe_seq': 69, 'sub...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357....",[]
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,[],"[{'labevent_id': 584, 'subject_id': 10000032, ...","[{'microevent_id': 36, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'poe_id': '10000032-217', 'poe_seq': 217, 's...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920....",[]
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,[],"[{'labevent_id': 407, 'subject_id': 10000032, ...","[{'microevent_id': 32, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 29079034,...","[{'poe_id': '10000032-125', 'poe_seq': 125, 's...","[{'subject_id': 10000032, 'hadm_id': 29079034,...",[],"[{'subject_id': 10000032, 'hadm_id': 29079034,...","[{'subject_id': 10000032, 'hadm_id': 29079034....","[{'subject_id': 10000032, 'hadm_id': 29079034,..."
4,10001217,24597018,2157-11-18 22:56:00,2157-11-25 18:00:00,NaN,EW EMER.,P4645A,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,[],"[{'labevent_id': 9011, 'subject_id': 10001217,...","[{'microevent_id': 402, 'subject_id': 10001217...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'poe_id': '10001217-110', 'poe_seq': 110, 's...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'subject_id': 10001217, 'hadm_id': 24597018....","[{'subject_id': 10001217, 'hadm_id': 24597018,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10040025,21791856,2147-06-16 22:00:00,2147-06-22 16:15:00,NaN,OBSERVATION ADMIT,P7634X,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,[],"[{'labevent_id': 472612, 'subject_id': 1004002...","[{'microevent_id': 14525, 'subject_id': 100400...","[{'subject_id': 10040025, 'hadm_id': 21791856,...","[{'poe_id': '10040025-451', 'poe_seq': 451, 's...","[{'subject_id': 10040025, 'hadm_id': 21791856,...",[],"[{'subject_id': 10040025, 'hadm_id': 21791856,...","[{'subject_id': 10040025, 'hadm_id': 21791856....",[]
271,10040025,22251969,2147-08-03 02:58:00,2147-08-06 16:50:00,NaN,OBSERVATION ADMIT,P85BWS,EMERGENCY ROOM,HOME,Other,...,[],"[{'labevent_id': 472861, 'subject_id': 1004002...",[],"[{'subject_id': 10040025, 'hadm_id': 22251969,...","[{'poe_id': '10040025-594', 'poe_seq': 594, 's...","[{'subject_id': 10040025, 'hadm_id': 22251969,...",[],"[{'subject_id': 10040025, 'hadm_id': 22251969,...","[{'subject_id': 10040025, 'hadm_id': 22251969....",[]
272,10040025,27259207,2147-12-04 20:48:00,2147-12-18 16:43:00,NaN,OBSERVATION ADMIT,P43BTJ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,[],"[{'labevent_id': 473416, 'subject_id': 1004002...",[],"[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'poe_id': '10040025-844', 'poe_seq': 844, 's...","[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'subject_id': 10040025, 'hadm_id': 27259207....",[]
273,10040025,27996267,2148-01-23 12:18:00,2148-02-04 20:51:00,NaN,OBSERVATION ADMIT,P10WWR,TRANSFER FROM SKILLED NURSING FACILITY,HOSPICE,Other,...,[],"[{'labevent_id': 474364, 'subject_id': 1004002...","[{'microevent_id': 14586, 'subject_id': 100400...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'poe_id': '10040025-1693', 'poe_seq': 1693, ...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'subject_id': 10040025, 'hadm_id': 27996267....","[{'subject_id': 10040025, 'hadm_id': 27996267,..."
274,10040025,27125816,2143-03-18 12:34:00,2143-03-19 12:00:00,NaN,AMBULATORY OBSERVATION,P623U2,PROCEDURE SITE,None,Other,...,"[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'labevent_id': 471955, 'subject_id': 1004002...",[],"[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'poe_id': '10040025-71', 'poe_seq': 71, 'sub...","[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'subject_id': 10040025, 'hadm_id': 27125816....",[]

In [46]:
df["admission_type"].value_counts()

EW EMER.                       104
OBSERVATION ADMIT               45
URGENT                          38
EU OBSERVATION                  30
SURGICAL SAME DAY ADMISSION     18
DIRECT EMER.                    15
ELECTIVE                        13
DIRECT OBSERVATION               7
AMBULATORY OBSERVATION           5
Name: admission_type, dtype: int64

In [43]:
omr = pd.DataFrame(df.loc[1, "omr"]).sort_values(by=["result_name", "chartdate"]).drop_duplicates(subset=['subject_id', 'chartdate', 'result_name', 'result_value'])
omr

    subject_id   chartdate  seq_num      result_name result_value
5     10000032  2180-05-07        1      BMI (kg/m2)         18.0
8     10000032  2180-05-25        1      BMI (kg/m2)         18.6
9     10000032  2180-06-01        1      BMI (kg/m2)         18.7
11    10000032  2180-06-22        1      BMI (kg/m2)         18.9
12    10000032  2180-06-27        1      BMI (kg/m2)         19.2
6     10000032  2180-06-30        1      BMI (kg/m2)         18.0
10    10000032  2180-07-09        1      BMI (kg/m2)         18.7
7     10000032  2180-08-06        1      BMI (kg/m2)         18.2
39    10000032  2180-04-27        1   Blood Pressure       110/65
38    10000032  2180-05-25        1   Blood Pressure       106/60
40    10000032  2180-06-01        1   Blood Pressure       121/77
36    10000032  2180-06-22        1   Blood Pressure       100/60
37    10000032  2180-06-30        1   Blood Pressure       102/60
35    10000032  2180-07-09        1   Blood Pressure        98/66
1     10000032  2180-05-07        1  Height (Inches)           60
0     10000032  2180-06-22        1  Height (Inches)           60
2     10000032  2180-04-27        1     Weight (Lbs)           94
16    10000032  2180-05-07       17     Weight (Lbs)        92.15
3     10000032  2180-05-25        1     Weight (Lbs)           95
14    10000032  2180-06-01        1     Weight (Lbs)         95.7
4     10000032  2180-06-22        1     Weight (Lbs)           97
34    10000032  2180-06-27        1     Weight (Lbs)        98.32
13    10000032  2180-06-30        1     Weight (Lbs)         92.2
15    10000032  2180-07-09        1     Weight (Lbs)         95.8
33    10000032  2180-08-06        1     Weight (Lbs)        93.03

In [44]:
emar = pd.DataFrame(df.loc[1, "emar"]).sort_values(by=["charttime"])
emar

,subject_id,hadm_id,emar_id,emar_seq,poe_id,pharmacy_id,enter_provider_id,charttime,medication,event_txt,scheduletime,storetime,0
6,10000032,22841357.0,10000032-29,29,10000032-62,,,2180-06-26 17:03:00,Ondansetron,Administered,2180-06-26 17:03:00,2180-06-26 17:04:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
7,10000032,22841357.0,10000032-28,28,10000032-63,,,2180-06-26 17:03:00,Morphine Sulfate,Administered,2180-06-26 17:03:00,2180-06-26 17:04:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
1,10000032,22841357.0,10000032-32,32,10000032-78,47392079.0,,2180-06-26 22:43:00,Sodium Chloride 0.9% Flush,Flushed,2180-06-26 22:43:00,2180-06-26 22:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
16,10000032,22841357.0,10000032-31,31,10000032-92,7922025.0,,2180-06-26 22:43:00,Rifaximin,Administered,2180-06-26 22:00:00,2180-06-26 22:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
13,10000032,22841357.0,10000032-30,30,10000032-91,51588577.0,,2180-06-26 22:43:00,Raltegravir,Administered,2180-06-26 22:00:00,2180-06-26 22:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
11,10000032,22841357.0,10000032-36,36,10000032-88,39177111.0,,2180-06-27 08:43:00,Emtricitabine-Tenofovir (Truvada),Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
19,10000032,22841357.0,10000032-38,38,10000032-103,25684927.0,,2180-06-27 08:43:00,Furosemide,Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
18,10000032,22841357.0,10000032-39,39,10000032-95,72950827.0,,2180-06-27 08:43:00,Tiotropium Bromide,Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
17,10000032,22841357.0,10000032-37,37,10000032-94,53555857.0,,2180-06-27 08:43:00,Sulfameth/Trimethoprim DS,Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
9,10000032,22841357.0,10000032-40,40,10000032-86,50615355.0,,2180-06-27 08:43:00,Albuterol Inhaler,Administered,2180-06-27 08:44:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
10,10000032,22841357.0,10000032-33,33,10000032-87,19293665.0,,2180-06-27 08:43:00,Calcium Carbonate,Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
15,10000032,22841357.0,10000032-34,34,10000032-92,7922025.0,,2180-06-27 08:43:00,Rifaximin,Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
14,10000032,22841357.0,10000032-35,35,10000032-91,51588577.0,,2180-06-27 08:43:00,Raltegravir,Administered,2180-06-27 08:00:00,2180-06-27 08:44:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
3,10000032,22841357.0,10000032-42,42,10000032-82,63382942.0,,2180-06-27 08:44:00,Heparin,Not Given,2180-06-27 08:00:00,2180-06-27 08:45:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
12,10000032,22841357.0,10000032-41,41,10000032-90,13724136.0,,2180-06-27 08:44:00,Lactulose,Administered,2180-06-27 08:00:00,2180-06-27 08:45:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
0,10000032,22841357.0,10000032-43,43,10000032-78,47392079.0,,2180-06-27 08:51:00,Sodium Chloride 0.9% Flush,Flushed,2180-06-27 08:51:00,2180-06-27 08:51:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
8,10000032,22841357.0,10000032-44,44,10000032-85,34440266.0,,2180-06-27 10:22:00,Acetaminophen,Administered,2180-06-27 10:22:00,2180-06-27 10:23:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
5,10000032,22841357.0,10000032-46,46,10000032-90,,,2180-06-27 14:00:00,Lactulose,Not Given,2180-06-27 14:00:00,2180-06-27 14:25:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
4,10000032,22841357.0,10000032-45,45,10000032-82,,,2180-06-27 14:00:00,Heparin,Not Given,2180-06-27 14:00:00,2180-06-27 14:06:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
2,10000032,22841357.0,10000032-48,48,10000032-78,47392079.0,,2180-06-27 17:36:00,Sodium Chloride 0.9% Flush,Flushed,2180-06-27 17:36:00,2180-06-27 17:36:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
20,10000032,22841357.0,10000032-47,47,10000032-108,77278287.0,,2180-06-27 17:36:00,Albumin 25% (12.5g / 50mL),Administered,2180-06-27 17:36:00,2180-06-27 17:36:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
21,10000032,22841357.0,10000032-49,49,10000032-108,77278287.0,,2180-06-27 17:55:00,Albumin 25% (12.5g / 50mL),Partial Administered,2180-06-27 17:51:00,2180-06-27 17:55:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."
22,10000032,22841357.0,10000032-50,50,10000032-108,77278287.0,,2180-06-27 18:12:00,Albumin 25% (12.5g / 50mL),Partial Administered,2180-06-27 18:10:00,2180-06-27 18:12:00,"[{'subject_id': 10000032, 'emar_id': '10000032..."

In [45]:
patients = pd.DataFrame(df.loc[1, "patients"])
patients

   subject_id gender  anchor_age  anchor_year anchor_year_group         dod
0    10000032      F          52         2180       2014 - 2016  2180-09-09