In [29]:
import pandas as pd
import os

In [41]:
df = pd.DataFrame()
files = os.listdir("./patients_new")
for file in files:
    patient = pd.read_json(os.path.join("./patients_new/", file))
    df = pd.concat([df, patient], ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 275 entries, 0 to 274
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   subject_id            275 non-null    int64
 1   hadm_id               275 non-null    int64
 2   admittime             275 non-null    object
 3   dischtime             275 non-null    object
 4   deathtime             15 non-null     object
 5   admission_type        275 non-null    object
 6   admit_provider_id     275 non-null    object
 7   admission_location    275 non-null    object
 8   discharge_location    233 non-null    object
 9   insurance             275 non-null    object
 10  language              275 non-null    object
 11  marital_status        263 non-null    object
 12  race                  275 non-null    object
 13  edregtime             182 non-null    object
 14  edouttime             182 non-null    object
 15  hospital_expire_flag  275 non-null    int64
 16  patients              275 non-null    object
 17  omr                   275 non-null    object
 18  emar                  275 non-null    object
 19  diagnoses_icd         275 non-null    object
 20  drgcodes              275 non-null    object
 21  hcpcsevents           275 non-null    object
 22  labevents             275 non-null    object
 23  microbiologyevents    275 non-null    object
 24  pharmacy              275 non-null    object
 25  poe                   275 non-null    object
 26  prescriptions         275 non-null    object
 27  procedures_icd        275 non-null    object
 28  services              275 non-null    object
 29  transfers             275 non-null    object
 30  icustays              275 non-null    object
dtypes: int64(3), object(28)
memory usage: 66.7+ KB

In [ ]:
df.info()

In [42]:
df

,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admit_provider_id,admission_location,discharge_location,insurance,...,hcpcsevents,labevents,microbiologyevents,pharmacy,poe,prescriptions,procedures_icd,services,transfers,icustays
0,10000032,22595853,2180-05-06 22:23:00,2180-05-07 17:15:00,NaN,URGENT,P874LG,TRANSFER FROM HOSPITAL,HOME,Other,...,[],"[{'labevent_id': 151, 'subject_id': 10000032, ...","[{'microevent_id': 15, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'poe_id': '10000032-52', 'poe_seq': 52, 'sub...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853,...","[{'subject_id': 10000032, 'hadm_id': 22595853....",[]
1,10000032,22841357,2180-06-26 18:27:00,2180-06-27 18:49:00,NaN,EW EMER.,P09Q6Y,EMERGENCY ROOM,HOME,Medicaid,...,[],"[{'labevent_id': 332, 'subject_id': 10000032, ...","[{'microevent_id': 28, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'poe_id': '10000032-69', 'poe_seq': 69, 'sub...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357,...","[{'subject_id': 10000032, 'hadm_id': 22841357....",[]
2,10000032,25742920,2180-08-05 23:44:00,2180-08-07 17:50:00,NaN,EW EMER.,P60CC5,EMERGENCY ROOM,HOSPICE,Medicaid,...,[],"[{'labevent_id': 584, 'subject_id': 10000032, ...","[{'microevent_id': 36, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'poe_id': '10000032-217', 'poe_seq': 217, 's...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920,...","[{'subject_id': 10000032, 'hadm_id': 25742920....",[]
3,10000032,29079034,2180-07-23 12:35:00,2180-07-25 17:55:00,NaN,EW EMER.,P30KEH,EMERGENCY ROOM,HOME,Medicaid,...,[],"[{'labevent_id': 407, 'subject_id': 10000032, ...","[{'microevent_id': 32, 'subject_id': 10000032,...","[{'subject_id': 10000032, 'hadm_id': 29079034,...","[{'poe_id': '10000032-125', 'poe_seq': 125, 's...","[{'subject_id': 10000032, 'hadm_id': 29079034,...",[],"[{'subject_id': 10000032, 'hadm_id': 29079034,...","[{'subject_id': 10000032, 'hadm_id': 29079034....","[{'subject_id': 10000032, 'hadm_id': 29079034,..."
4,10001217,24597018,2157-11-18 22:56:00,2157-11-25 18:00:00,NaN,EW EMER.,P4645A,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,[],"[{'labevent_id': 9011, 'subject_id': 10001217,...","[{'microevent_id': 402, 'subject_id': 10001217...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'poe_id': '10001217-110', 'poe_seq': 110, 's...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'subject_id': 10001217, 'hadm_id': 24597018,...","[{'subject_id': 10001217, 'hadm_id': 24597018....","[{'subject_id': 10001217, 'hadm_id': 24597018,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270,10040025,21791856,2147-06-16 22:00:00,2147-06-22 16:15:00,NaN,OBSERVATION ADMIT,P7634X,EMERGENCY ROOM,HOME HEALTH CARE,Other,...,[],"[{'labevent_id': 472612, 'subject_id': 1004002...","[{'microevent_id': 14525, 'subject_id': 100400...","[{'subject_id': 10040025, 'hadm_id': 21791856,...","[{'poe_id': '10040025-451', 'poe_seq': 451, 's...","[{'subject_id': 10040025, 'hadm_id': 21791856,...",[],"[{'subject_id': 10040025, 'hadm_id': 21791856,...","[{'subject_id': 10040025, 'hadm_id': 21791856....",[]
271,10040025,22251969,2147-08-03 02:58:00,2147-08-06 16:50:00,NaN,OBSERVATION ADMIT,P85BWS,EMERGENCY ROOM,HOME,Other,...,[],"[{'labevent_id': 472861, 'subject_id': 1004002...",[],"[{'subject_id': 10040025, 'hadm_id': 22251969,...","[{'poe_id': '10040025-594', 'poe_seq': 594, 's...","[{'subject_id': 10040025, 'hadm_id': 22251969,...",[],"[{'subject_id': 10040025, 'hadm_id': 22251969,...","[{'subject_id': 10040025, 'hadm_id': 22251969....",[]
272,10040025,27259207,2147-12-04 20:48:00,2147-12-18 16:43:00,NaN,OBSERVATION ADMIT,P43BTJ,EMERGENCY ROOM,SKILLED NURSING FACILITY,Other,...,[],"[{'labevent_id': 473416, 'subject_id': 1004002...",[],"[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'poe_id': '10040025-844', 'poe_seq': 844, 's...","[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'subject_id': 10040025, 'hadm_id': 27259207,...","[{'subject_id': 10040025, 'hadm_id': 27259207....",[]
273,10040025,27996267,2148-01-23 12:18:00,2148-02-04 20:51:00,NaN,OBSERVATION ADMIT,P10WWR,TRANSFER FROM SKILLED NURSING FACILITY,HOSPICE,Other,...,[],"[{'labevent_id': 474364, 'subject_id': 1004002...","[{'microevent_id': 14586, 'subject_id': 100400...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'poe_id': '10040025-1693', 'poe_seq': 1693, ...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'subject_id': 10040025, 'hadm_id': 27996267,...","[{'subject_id': 10040025, 'hadm_id': 27996267....","[{'subject_id': 10040025, 'hadm_id': 27996267,..."
274,10040025,27125816,2143-03-18 12:34:00,2143-03-19 12:00:00,NaN,AMBULATORY OBSERVATION,P623U2,PROCEDURE SITE,None,Other,...,"[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'labevent_id': 471955, 'subject_id': 1004002...",[],"[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'poe_id': '10040025-71', 'poe_seq': 71, 'sub...","[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'subject_id': 10040025, 'hadm_id': 27125816,...","[{'subject_id': 10040025, 'hadm_id': 27125816....",[]

In [ ]:
omr = pd.DataFrame(df.loc[1, "omr"]).sort_values(by=["result_name", "chartdate"]).drop_duplicates(subset=['subject_id', 'chartdate', 'result_name', 'result_value'])
omr

In [ ]:
emar = pd.DataFrame(df.loc[1, "emar"]).sort_values(by=["charttime"])
emar

In [ ]:
patients = pd.DataFrame(df.loc[1, "patients"])
patients